body {
	font-family: Arial, Helvetica;
	font-size: 32pt;
	font-weight: bold;
	text-align: center;
	margin: 0.25in;
	background-color: #BBBBBB;
	}
.ButtonOff
{
	-webkit-appearance: none;
	border-radius: 2;
	background-color: #CCCCCC; /*without this, safari ignores styling*/
	font-family: Arial, Helvetica;
	font-size: 12pt;
	text-align: center;
	white-space: normal;
	padding: 2px;
	border-style: outset;
	cursor: pointer;
	height: 108px;
	width: 108px;
}
.ButtonOn
{
	-webkit-appearance: none;
	border-radius: 2;
	background-color: #ED0200; /*without this, safari ignores styling*/
	font-family: Arial, Helvetica;
	font-size: 12pt;
	text-align: center;
	white-space: normal;
	padding: 2px;
	border-style: outset;
	cursor: pointer;
	height: 108px;
	width: 108px;
}
